html { height: 100%; }
body { 
    
    background: #fdfcfc;
    font-family: Arial, Helvetica, sans-serif; 
    color: #000000; text-align: center; height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

h1 { 
    font: 700 2.8em/1.2 "Droid Sans", sans-serif; 
}
h2 { 
    font: 700 1.5em/1.5 "Droid Sans", sans-serif; margin: 1em 0; 

}
header{
    width: 100%;
    height: 70px;
    display: flex;
    color: #4f4949;
    font-size: 18px;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ad3333;
    cursor: pointer;
    margin-left: 20px;
}

.navegacion{
display: flex;
justify-content: center;
align-items: center;

}
.navegacion ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navegacion li{
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right:20px ;
}
.navegacion li button {
    text-decoration: none;
    background-color: #ad3333;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Transición suave */
}

.navegacion li button:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón un 10% */
}

.navegacion li:hover{
  color: #ad3333;
}
.informacion{
overflow: hidden;
   min-height: 90%;
    width: 100%;
   display: flex;
align-items: center;
    gap: 20px;
    height: 500px;
    transition: transform 0.3s ease;
}
span.izq, span.derecha {
    position:absolute;
    top: 50%; /* Centra verticalmente */
    font-size: 50px; /* Tamaño del icono */
    cursor: pointer;
    color:#ad3333; /* Cambia el color de las flechas si es necesario */
}

.izq {
    left: 20px; /* Posición a la izquierda */
    width: 50px;
    
}

.derecha {
    right: 20px; /* Posición a la derecha */
}
.contenedor2{
    transition: transform 0.3s ease;
}
.informacion .contenedor2{
 display: flex;
}
.informacion .contenedor2 .contenedor1{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 5%;

}
.informacion .contenedor1 .img1{
 width:30% ;
  border-radius: 20px;
}
.informacion .contenedor1 .parrafo1{
  width:40%;
    font-size: 20px;
}
.section1{
    width: 100%;
    height: 100%;
}


